* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --outline: 1px dotted rgb(231, 94, 94) ;
}
body {
    position: relative;
    background-image: linear-gradient(to bottom right, 
    rgb(228, 228, 228), 
    rgb(182, 181, 181));
}
header, footer {
    text-align: center;
    height: 50px;
    font-size: 150%;
    padding: 10px;
}
header {
    margin-bottom: 30px;
}
div {
    margin: 10px;
}
.main {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article {
    padding: 10px;
    border-radius: 20px;
    animation: ease-in-out 4s 
    
}
ul {
    padding-left: 20px;
}
h2, header {
    font-family: Arial, Helvetica, sans-serif;
}
.v1{
    position: absolute;
    background-image: linear-gradient(to bottom right, 
    rgba(252, 0, 0, 0.6), 
    rgba(194, 89, 3, 0.6));
    padding-left: 0px;
    width: 150px;
    top: 0px;
    bottom: 0px;
    margin: 0;
    border-right: 10px solid black
}
.v2{
    position: absolute;
    background-image: linear-gradient(to bottom right, 
    rgba(252, 0, 0, 0.6), 
    rgba(194, 89, 3, 0.6));
    right: 0px;
    width: 150px;
    top: 0px;
    bottom: 0px;
    margin: 0;
    border-left: 10px solid black
}
a {
    text-decoration: none;
    color:rgba(150, 10, 10, 0.74);
}
a:hover{
    color:rgb(231, 94, 94);
}
article:hover{
    background: rgba(255, 255, 255, 0.39);
}
